@import "compass";
@import "_reset";
@import "_fonts";
@import "_icons";
@import "_base";

/* BASIC STYLES
-------------------------------------------------------------- */
*{
  @include box-sizing('border-box');

  img{
    max-width: 100%;
    height: auto;
  }
}

body{
  font: 16px/1.5 $font_main;
  background-color: $page_bg;  
  color: $color_main;
  font-weight: 300;
}

a{
  @include transition;
  color: $color_accent;
  text-decoration: none;
  
  &:hover{
    color: $color_main;
  }
}

p{
  font-family: $font_body;

  @include bp(s){
    font-size: 14px;
  }
}

p + p{
  margin-top: 40px;

  @include bp(s){
    margin-top: 20px;
  }
}

h1, h2, h3, h4{
  font-family: $font_header;
  font-weight: 300;
}

ul,
ul.menu,
ul.menu li{
  list-style: none;
  text-align: inherit;
  margin: 0;
  padding: 0;
}

li a.active,
li.opened span.nolink{color: $color_main;}

h2{font-size: 30px;}

/* Layout
-------------------------------------------------------------- */
#skip{
  display: none
}

#header{
  background-color: $color_accent;
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  
  @include bp(m){
    position: relative;
    height: auto;
    min-height: 50px;
  }

  .bot{
    background-color: rgba($page_bg, 0.9);
    height: 30px;

    @include bp(m){
      display: none !important;
    }
  }

}

#ud-sm{
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;

  #u-sm,
  #d-sm{
    position: absolute;
  }

  #u-sm{
    left: 10px;
    top: 10px;
  }

  #d-sm{
    left: 150px;
    top: 30px;
  }

  .logo{
    top: 0;
    left: 224px;

    a{
      @extend %a_lt;
    }
  }

  @include bp(m){
    position: relative;
    width: 150px;
    
    #u-sm,
    #d-sm{
      width: 75px;
      display: none;
    }

    #u-sm{
      left: 10px;
      top: 10px;
    }

    #d-sm{
      left: 90px;
      top: 30px;
    }

    .logo{
      top: 0;
      left: 10px;
    }

  }
}

.logo{
  position: absolute;
  font-family: $font_header;
  text-transform: uppercase;
  width: 200px;
  


  span{
    display: block;
    position: relative;
    left: ($gap / 2);
  }

  .slogan{
    margin-left: 60px;
    font-style: italic;
    text-transform: lowercase;
  }

  &.main{
    left: 50%;
    margin-left: 200px;
    top: 200px;

    .slogan{
      margin-top: 10px;
    }
  }
}

#u-big, #d-big, .logo.main{

  @include bp(m){
    display: none;
  }
}

#u-big, #d-big {
  position: absolute;
  z-index: 1000; 
}

#u-big {
  top: 60px;
  left: 50%;
  margin-left: -620px; 
}

#d-big {
  top: ($gap * 2);
  left: 50%;
  margin-left: -170px; 
}

body.nav-active{

  @include bp(m){
    
    .logo{
      @include transition;
      opacity: 0;
    }
  }
}




#nav{
  @include pie-clearfix;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $font_header;
  float: right;
  line-height: 45px;
  display: block;

	ul{}

	li{
    display: inline-block;
    margin-right: ($gap / 2);

  }
  
  .region-nav-main{
    float: left;
    height: 50px;
    min-height: 50px;

    @include bp(m){
      float: none;
    }

    a{
      @extend %a_lt;
      font-size: 14px;
      display: block;
      height: 50px;
    }
  }
	

  @include bp(m){
     display: none;
    text-align: center;
    float: none;

    ul{
      text-align: center !important;
    }

    li{
      display: block;
      margin-bottom: 10px;
      margin-right: 0;
    }

    .region-nav-main{
      height: auto;
      
      
      a{

      }
    }


  }

  .social-icons{
    background-color: darken($color_accent, 5%);
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    float: right;
    
    a{
      @extend %a_lt;
      padding: 0 5px;
    }

    @include bp(m){
      float: none;
    }
  }
}

#menu{
  display: block;

  @include bp(m){
    display: none;
  }
}

.menu-toggle{
  @include transition;
  display: none;
  position: absolute;
  z-index: 900;
  top: 0;
  right: 0;
  background-color: $color_main;
  color: $page_bg;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 2em;
  cursor: pointer;

  @include bp(m){
    display: block;
  }
}

#back-to-top{
  @include transition;
  display: none;
  position: fixed;
  bottom: -50px;
  width: 100%;
  text-align: center;
  z-index: 1000;

  span{ 
    @include transition;
    padding: 10px;
    background-color: $color_accent;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0;
    cursor: pointer;
  }

  &.active{
    bottom: 20px;
  }
  
  @include bp(m){
    display: block;
  }

}

#main-content{
  max-width: $bp_lg;
  margin: auto;
  padding: 0 ($gap / 2);
  margin-top: $gap * 3;

  @include bp(s){
    margin-top: 50px;
    padding: 0;
  }
}

.label{
  font-family: $font_header;
  font-style: italic;
  padding: 10px;
  background-color: $color_accent;
  color: $page_bg;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 400;
}

#footer{
  background-color: $page_med;
}

#footer-main{
  max-width: $bp_lg;
  margin: ($gap * 2) auto 0;
  padding: $gap ($gap / 2);
}

#copy{
  background-color: $page_dk;
  text-align: center;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 1px;
  padding: ($gap / 2);
  text-transform: uppercase;

  @include bp(m){
    font-size: 8px;
    padding-bottom: 100px;
  }
}

#block-block-4,
#block-views-tweets-block,
#block-mailchimp-lists-upstairs-downstairs-newsletter,
#block-block-1{
  width: 30%;
  float: left;

  h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: ($gap / 2);
  }

  @include bp(s){
    float: none;
    width: 100%;
    margin-bottom: $gap;
  }
}

#block-block-4,
#block-views-tweets-block{
  margin-right: 4.5%;
}

#footer-instafeed{
  a{
    background-color: $page_lt;
    padding: ($gap / 2);
    display: block;
    line-height: 0;
  }
}

.view-tweets{

  li{
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    font-size: 14px;
  }

  li + li{
    margin-top: 10px;
    padding-top: 10px;
    border-top: $border_dashed;
  }
}

#block-block-1{
  margin-top: ($gap * 2);
  text-align: center;

  a{
    font-size: ($gap / 2);
    padding: 0 5px;
  }
  
  @include bp(s){
    clear: both;
    margin-top: $gap;
  }

}

#block-mailchimp-lists-upstairs-downstairs-newsletter{
  @include pie-clearfix; 

  input[type="submit"]{
    float: right;
  }
}

/* POST
-------------------------------------------------------------- */
.post{
  @include pie-clearfix;

  p{
    a{
      text-decoration: underline;
    }
  }

  .image{
    a{
      line-height: 0;
      padding: $gap;
      background-color: #fff;
      display: block;
      line-height: 0;

      @include bp(m){
        padding: $gap / 2;
      }
    }

    img{
      width: 100%;
    }
  }

  .header{
    border-left: $color_accent 8px solid;
    max-width: 800px;
    padding-left: $gap - $border_width;

    @include bp(m){
      padding-left: ($gap / 2) - $border_width;
    }

    h1, h2{
      font-size: 34px;
      font-weight: 300;
      line-height: 1;
      margin-bottom: 10px;

      @include bp(m){
        font-size: 28px;
      }

      a{
        @extend %a_dk;
      }
    }

    h1{
      font-size: 40px;

      @include bp(m){
        font-size: 28px;
      }
    }

    .meta{
      font-family: $font_header;
      font-style: italic;
    }
  }

  .side{
    max-width: 800px;
  }

  .read-more{
    font-family: $font_header;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 34px;
    margin-top: 10px;
    letter-spacing: 2px;

    @include bp(m){
      font-size: 30px;
    }
  }

  .tags{
    font-family: $font_header;
    text-transform: uppercase;
    margin-top: 10px;

    a{
      font-size: 12px;
      font-weight: 700;
      display: block;
    }
  }

  .footer{
    font-family: $font_header;
    text-transform: uppercase;

     @include bp(s){
      padding: 10px 20px;
    }
  }
}

.post.featured{
  position: relative;

  .label{
    position: absolute;
    top: 100px;
    left: -($gap / 2);

    @include bp(m){
      left: -10px;
      display: none;
    }
  }

  .side{
    margin-top: ($gap / 2);
    float: left;
    width: 60%;
    padding-right: $gap;
    border-right: $color_accent dashed 1px;

    @include bp(s){
      float: none;
      width: 100%; 
      padding-right: $gap/2;
      border-right: none;
      border-bottom: $color_accent dashed 1px;
    }
  }

  .read-more{
    @include bp(s){
      text-align: center;
      padding: 20px 0;
    }
  }

  .body{
    padding-left: $gap;
    padding-top: ($gap / 2);

    @include bp(m){
      padding-left: $gap / 2;
    }
  }

  .footer{
    float: right;
    width: 40%;
    margin-top: ($gap / 2);
    padding-left: ($gap / 2);

    .inner{
    }

    @include bp(s){
      float: none;
      width: 100%;
    }
  }

  .social-icons{
      
    @include bp(s){
      //float: right;
    }
  }




}

.post.teaser{
  margin-bottom: ($gap * 2);

  @include bp(m){
    margin-bottom: $gap;
  }

  .main{
    width: 60%;
  }

  .side{
    width: 40%;

    @include bp(s){
      padding-right: $gap/2;
    }
  }

  .main,
  .side{
    float: left;

    @include bp(s){
      float: none;
      width: 100%;
    }
  }


  .header{
    margin: $gap 0 ($gap / 2);
    padding-left: $gap - $border_width;

    @include bp(m){
      padding-left: ($gap / 2) - $border_width;
      margin-top: ($gap / 2);
    }

  }

  .body{
    padding-left: $gap;

    @include bp(m){
      padding-left: ($gap / 2);
    }
  }

  .read-more{
    text-align: center;
    margin: 30px 0 $gap;

    @include bp(m){
      margin-top: $gap / 2;
      margin-bottom: $gap / 2;
    }
  }

  .footer{
    margin-left: $gap;
    padding: 10px 0;
    margin-top: ($gap / 2);
    border-top: $color_accent 1px dashed;

    @include bp(m){
      margin-left: ($gap / 2);
    }

   
  }

  .tags{
    float: left;
    margin-top: 0;
  }
  
  .social-icons{
    //float: right;

    a{
      margin-right: 10px;
    }
  }

}

.full-content{

  .field-name-field-cover-image{
    background-color: $page_lt;
    padding: $gap;
    line-height: 0;

    @include bp(m){
      padding: $gap / 2;
    }
  }
}

.post.full{
  padding-bottom: $gap;

  p{
    padding-right: $gap;
    padding-left: $gap;

    @include bp(m){
      padding-right: $gap / 2;
      padding-left: $gap / 2;
    }
  }

  p + p{
    margin-top: $gap;

    @include bp(m){
      margin-top: $gap / 2;
    }
  }

  .header{
    margin-bottom: $gap;
    margin-top: $gap;

    @include bp(m){
      margin-bottom: $gap / 2;
    // margin-top: $gap / 2;
    }
  }

  .footer{
    border-top: $border_dashed;
  }

  .tags{
    float: left;
  }

  .social-icons{
    float: right;
  }

  .credits{
    padding-bottom: $gap;

    h2{
      font-size: 20px;
    }

    @include bp(s){
      padding: 20px;
    }
  }


}

.image-holder{
  padding: $gap;
  background-color: $page_lt;
  line-height: 0;

  img{
    width: 100%;
  }

  @include bp(m){
    padding: $gap / 2;
  }
}

.side-content{

 

  .panel-pane{
    background-color: $page_med;
    padding: $gap;
    margin-bottom: $gap;

    h2{
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px;
    }

     @include bp(m){
      padding: $gap / 2;
    }
  }
}


.sideright-bricks { 
/*  overflow: hidden;  */
}

.sideright-bricks .full-content{
  width: 100%;
  clear: both;
}

.sideright-bricks .main-content{

  @include bp(s){
    width: 100%;
    margin-right: 0;
    float: none;
    padding-right: 0;
  }
}

.sideright-bricks .side-content{
  margin-bottom: $gap;
  margin-top: $gap;

  @include bp(s){
    width: 100%;
    float: none;
  }
}

.view-display-id-block_2{
 
  .views-row-first{
    padding-right: 10px;
  }

  .views-row-last{
    padding-left: 10px;
  }

  .views-row-even{
    padding: 0 5px;
  }

  .views-row{
    width: 33.3%;
    float: left;

    .field-name-field-cover-image{
      line-height: 0;
      padding: 20px;
      background-color: $page_lt;

      img{
        width: 100%;
        height: auto;
      }
    }

    .views-field-title{
      font-size: 16px;
      margin-top: 10px;
      text-align: center;
    }
  }

  @include bp(s){

    .views-row{
      width: 100%;
      float: none;
    }

    .views-row-first{
      padding: 20px;
    }

    .views-row-last{
      padding: 20px;
    }

    .views-row-even{
      padding: 20px;
    }
  }
}

#you-might-like{
  @include pie-clearfix;
  margin-bottom: $gap;

  h2{
    font-size: 30px;
    margin-bottom: 10px;
  }

  @include bp(s){

    h2{
      text-align: center;
    }
  }
}

.pager{
  padding: $gap !important;
  background-color: $page_med;
  font-size: 30px;
  font-weight: 100;
  text-transform: uppercase;

}


#follow{
  text-align: center;

  a{
    font-size: 2em;
  }
}

.view-display-id-block_1{
  text-align: center;
}



/* FORMS
-------------------------------------------------------------- */
form{}

label{
  font-style: italic;
}


input[type="text"],
input[type="text"],
input[type="text"],
textarea{
  padding: 10px;
  width: 100%;
  border: none;
  font-family: $font_header;
}

input[type="submit"],
input[type="button"]{
  @extend %btn_default;
}

.container-inline .form-actions, .container-inline.form-actions{
  position: relative;
  top: 10px;
}

.pane-search-form{

  input[type="text"]{
    width: 80%;
  }
}







/* COMMENTS
-------------------------------------------------------------- */
.comments-header{
  width: 100%;
  margin: 30px auto 0;

    font-style: italic;
    border-bottom: #ccc solid 1px;
    

    h2{
      
      float: left;
      font-size: 30px;
      font-weight: 300;
    }

    .add-comment-btn{
      color: $color_accent;
      float: right;
      cursor: pointer;
      text-transform: uppercase;
      margin-top: 10px;

    
  }
}

.pane-node-comment-form{
  max-width: 600px;
  margin: 0 auto;
  padding: $gap;
  background-color: $page_med;

  @include bp(s){
    padding: 10px;

    h2{
      text-align: center;
    }
  }
}

.comment-form{
  // display: none;
  border-bottom: $border_dashed;

  form{
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 30px; 
  }

  
}

.pane-node-comments{
  padding-top: 40px;
}


.comments{
  
  margin: 0 auto;
  padding: 30px 0;
}

.comment{
  background-color: $page_med;
  border-left: $color_accent solid 5px;
  max-width: 430px;
  margin-bottom: 20px;

  .comment-header{
    padding: 20px;

    h2{
      font-size: 20px;
      font-weight: 300;
    }

    h3{
      font-size: 14px;
      color: $color_accent;
      font-weight: 300;
      font-style: italic;
    }

    
  }

  .website a{
    color: $color_accent;
    float: left;

    &:hover{
      color: $color_main;
    };
  }

  .submitted{
    padding: 5px 10px;
    background-color: darken($page_bg, 2%);
    font-size: 10px;
    text-transform: uppercase;
  }

  .body{
    margin: 0 20px;
  }
  
  .field-name-comment-body{
    padding: 0;
    font-size: 14px;
  }

  .footer{
    clear: both;
    margin-top: 10px;
    
    font-size: 10px;
    padding: 20px;
    text-transform: uppercase; 
    font-family: "LatoBold";
    letter-spacing: 2px;

    ul.links{
      a{
        @include inline-block;
        padding: 5px 10px;
        background-color: $page_dk;

        &:hover{
          background-color: $page_bg;
        }
      }
    }
  }
}



.page-search{
  #main-content{
    margin-top: 200px;
  }
}


.search-result{
  @include pie-clearfix;
  margin-bottom: $gap;

  .image-holder{
    display: block;
    position: relative;
    float: left;
    max-width: 30%;
  }

  .body{
    border-left: $color_accent 8px solid;
    padding-left: 20px;
    max-width: 600px;
    float: left;
  }
}



/* ABOUT
-------------------------------------------------------------- */

.page-node-52{
  
  #main-content{
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
}


#about-page{}

#about-slide{
  @include bg_full('../images/wallpaper/UDXO-Jen-wallpaper.jpg');
  position: relative;
  width: 100%;
  height: 110vh;
  text-align: center;
  display: table;
  z-index: 1;

  @include bp(m){
    padding: 40px 20px;
  }

  .inner{
    position: relative;
    display: table-cell;
    vertical-align: middle;

    @include bp(m){
      display: block;
    }
  }

  .content{
    @extend %box-accent;
    line-height: 2em;
  }
}

#megan-slide{
  position: relative;
  z-index: 10;

  h2{
    color: $color_accent;
    margin-bottom: 20px;

    @include bp(m){
      text-align: center;
    }
  }

  .inner{
    @include pie-clearfix;
    max-width: $bp_lg;
    margin: 0 auto;
    padding: 80px;

    @include bp(s){
      padding-left: 20px;
      padding-right: 20px;
    }

  }

  .content{

    @include bp(m){
      max-width: 500px;
      margin: auto;
      margin-top: 20px;
    }
  }

  .image{
    background-color: #fff;
    padding: 40px;
    float: left;
    margin-top: -170px;
    margin-right: 80px;
    max-width: 400px;

    @include bp(m){
      float: none;
      padding: 20px;
      margin-top: -100px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}


#quote-slide{
  @include bg_full('../images/wallpaper/UDXO-Melissa-wallpaper.jpg');
  position: relative;
  width: 100%;
  height: 80vh;
  text-align: center;
  display: table;

  @include bp(m){
    padding: 20px;
  }

  .inner{
    position: relative;
    display: table-cell;
    vertical-align: middle;


  }

  .content{
    @extend %box-accent;
    line-height: 2em;
  }

  .quote{
    font-size: 3em;
    line-height: normal;

    @include bp(m){
      font-size: 1.5em;
    }
  }
}

#contact-slide{

  .inner{
    text-align: center;
    padding-top: 80px;
    margin-bottom: 20px;
  }
}




/* FRONT
-------------------------------------------------------------- */
.front{

  #main-content{
    padding-top: 400px;

    @include bp(m){
      padding-top: 0;
    }
  }

  #ud-sm{
    top: -180px;
  }

  @include bp(m){
    #ud-sm{
      top: 0;

      .logo{
        display: none;
      }
    }

    #ud-sm #u-sm, #ud-sm #d-sm{
      display: block;
    }
  }
}

#front-devider{
  @include pie-clearfix;
  background-color: darken($page_bg, 5%);
  padding: 5px 0 0;
  margin: ($gap * 2) 0;

  h3{
    text-align: center;
    text-transform: uppercase;
    font-size: ($gap / 2);  
    margin-bottom: 0;
    
  }

  .side,
  .main{
    float: left;
  }

  .side{
    width: 40%;
  }

  .main{
    width: 100%;
  }
}

#front-instafeed{
  @include pie-clearfix;
  padding: 0 5px 5px;

  @include bp(m){
    //padding: 0 ($gap / 4) ($gap / 4);
  }

  a{
    float: left;
    line-height: 0;
    display: block;
    width: 16.6%;
    padding: 5px;

    @include bp(m){
      //padding: ($gap / 4);
    }

    img{
      width: 100%;
      height: auto;
    }
  }

  @include bp(s){

    a{
      width: 33.3%;
    }
  }
}


.krumo-root{
  z-index: 1000;
}


.service-links{

  li{
    @include inline-block;
  }
}

#tinymce{
  background-color: $page_bg;

  p{
    width: 800px;
    margin-left:  auto;
    margin-right: auto;
  }

  .image-post_full{
    background-color: #fff;
    padding: $gap;
    width: 100%;
    height: auto;
  }
}





